.tags>span {
    color: gray;
    font-size: 0.8em;
}
.articles .article {
    border: 1px solid black;
    margin-bottom: 15px;
}
.articles .article .title {
    color: dodgerblue;
    text-decoration: none;
}
.articles .article .title, .articles .article .title * {
    margin-bottom: 0;
}
.tags {
    margin-bottom: 10px;
}
.articles .article .title:hover {
    margin-bottom: 0;
    color: blue;
    text-decoration: underline;
}
#default, aside {
    display: inline-block;
}
#default {
    width: 80%;

}
aside {
    width: 19%;
    border: 1px solid black;
}