.article .tags>span, .article .visits>span, .article .date>span {
    color: gray;
    font-size: 0.8em;
}
.article .visits, .article .date {
    display: inline-block;
}
.articles .article {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.articles .article .title {
    color: dodgerblue;
    text-decoration: none;
}
.articles .article .title h2 {
    margin-top: 0;
}
.articles .article .title, .articles .article .title * {
    margin-bottom: 0;
}
.tags {
    margin-bottom: 10px;
}
.articles .article .title:hover, header nav ul li a:hover {
    margin-bottom: 0;
    color: blue;
    text-decoration: underline;
}
#default, aside {
    display: inline-block;
}
#default {
    width: 82%;

}
aside {
    margin-left: 10px;
    width: 15%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    vertical-align: top;
}
header>div {
    text-align: center;
    margin-bottom: 20px;
}
header>div #username {
    font-size: 1.2em;
}
.comments .comment {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}
.comment .name, .comment .email {
    font-weight: bold;
}
#article-content {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
#add-article, #edit-article {
    text-align: center;
}
header nav ul {
    padding-left: 0;
    list-style-type: none;
    margin: 5px;
}
header nav ul li {
    display: inline-block;
    margin-right: 10px;
}
header nav ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: dodgerblue;
}
#delete-articles td {
    border: 1px solid black;
    padding: 5px;
}